package ${type.packageName()};

@javax.annotation.Generated("ru.yandex.qatools.processors.matcher.gen.MatcherFactoryGenerator")
public final class ${utils.withGeneratedSuffix(${type.name()})} {
    /**
     * This class could not be instantiated
     */
    private ${utils.withGeneratedSuffix(${type.name()})}() {
        throw new java.lang.UnsupportedOperationException();
    }

    #foreach($field in ${type.fields()})
        #parse("templates/method.vm")
    #end
}
